
{% if request.user.is_authenticated %}
    <p>@{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>

<h1>My Todo List</h1>
<a href="{% url 'create-task' %}">Add Task</a>

<form method="GET">
    <input type="text" name="q" placeholder="Search......" value={{q}}>
    <input type="submit" value="search">
</form>
<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in tasks %}

    {% if request.user == task.user %}
    <tr>
        <td>{{task.title}}</td>
        <td>
            <a href="{% url 'task' task.id %}">View</a>
        </td>
        <td>
            <a href="{% url 'update-task' task.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'delete-task' task.id %}">Delete</a>
        </td>
    </tr>
    {% endif %}
    {% empty %}
    <h3>No tasks created</h3>
    {% endfor %}

    
</table>


