
{% extends 'main.html' %}

{% block content %}
<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin: 0;">You have <i>{{tasks.count}}</i> incomplete task{{tasks.count|pluralize:"s"}}</h3>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

</div>
<!-- <hr>
<h1>My Todo List</h1> -->

<div id="search-add-wrapper">
    <form method="GET" style="margin-top:20px; display:flex;">
        <input type="text" name="q" placeholder="Search......" value={{q}}>
        <input class="button" type="submit" value="search">
    </form>
    <a id="add-link" href="{% url 'create-task' %}">&#x2b;</a>
</div>

<div class="tasks-item-wrapper">
    {% for task in tasks %}
    {% if request.user == task.user %}
        <div class="task-wrapper">
            {% if task.complete %}
                <div class="task-title">
                    <div class="task-complete-icon"></div>
                    <i><s><a href="{% url 'update-task' task.id %}">{{task}}</a></s></i>
                </div>
            {% else %}
                <div class="task-title">
                    <div class="task-incomplete-icon"></div>
                    <a href="{% url 'update-task' task.id %}">{{task}}</a>
                </div>
            {% endif %}
            <a class="delete-link" href="{% url 'delete-task' task.id %}">&#215;</a>
        </div>
    {% endif %}
    {% empty %}
    <h3>No tasks created</h3>
    {% endfor %}

</div>
{% endblock %}


